.DS_Store

emacs.d/ac-dict
emacs.d/elpa
emacs.d/projectile-bookmarks.eld
emacs.d/abbrev_defs
emacs.d/auto-save-list
emacs.d/backups
emacs.d/places
emacs.d/recentf
emacs.d/tramp
emacs.d/ido.last
emacs.d/.org-id-locations
emacs.d/.mc-lists.el
emacs.d/personal/custom.el
emacs.d/personal/private.el
emacs.d/projectile.cache
emacs.d/var
*.elc
