!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "" }
    %meta{ "name" => "keywords", "content" => "" }
    %title
    =stylesheet_link_tag "application"
    =sprockets_include_tag "application"
    /[if lt IE 7]
      =stylesheet_link_tag "ie6"
  %body
    #skip
      %a{ :href => "#main", :title => "Skip navigation", :accesskey => "s" } Skip navigation

    #header
      .top
      .content
      .bottom

    #main
      .top
      .content
        =yield
      .bottom

    #footer
      .top
      .content
      .bottom
